<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut Cher visiteur !</h1>
    <p>Tu viens tout juste d'effectuer une nouvelle commande sur notre boutique du futur!<br>
    Ne t'impatiente pas! Tu recevras très bientôt la photo du plus beau chat du monde.<br>
    À très vite sur le site du turfu cat-marketplace-prod.herokuapp.com</p>
  </body>
</html>