<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Oyé!Oyé !</h1>
    <p>Tu es sur l'autoroute de la réussite! Un nouvel utilisateur vient d'effectuer une commande et tu peux le joindre via son adresse email: <%= @user.email%> <br>
 
    Keep up the good work</p>
  </body>
</html>