<!DOCTYPE html>
<html>

      <div class="jumbotron jumbotron-fluid" style="background-color:#cae3ed;background-image: url('https://images.pexels.com/photos/2194261/pexels-photo-2194261.jpeg?cs=srgb&dl=adorable-animal-cat-2194261.jpg&fm=jpg');background-position: center center; background-size: cover;">
        <div class="container">
          <p id="notice"><%= notice %></p>
          <h1 class="display-5 text-center" style="color:#37444a" > <strong>Email: </strong><%= @user.email %> </h1><br>
          <p class="text-center">

        <a href=><button class='btn btn-outline-primary' ><%= link_to 'Edit', edit_user_registration_path %></button></a>
        <a href=><button class='btn btn-success' ><%= link_to 'Back', items_path %></button></a>
          </p>
          </div>
          <br/><br/><br/><br/><br/><br/><br/><br/><br/>
      </div>
</html>
